@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "League Spartan", verdana, sans-serif;
	}
}

.hero-image {
	position: absolute;
	right: 0;
	bottom: 0;
}
